@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

::-webkit-scrollbar {
    width: 6px;
    background-color: #171a1d;
    border-radius: 3px;
}
::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: #97bfd3;
}
::-webkit-scrollbar-track {
    border-radius: 12px;
    background-color: #171a1d;
}

*{
    font-family: 'JetBrains Mono', monospace;
}

.icons{
    font-size: 2.5em;
    margin-right: 0.5em;
    margin-top: 0.5em;
}